= form_for wine_app do |f|
  Name
  %br
  = f.text_field :name 
  %br
  Description
  %br
  = f.text_area :description, size: "60x12"
  - if wine_app.errors.any?
    #error_explanation
      %h2= "#{pluralize(@wine_app.errors.count, "error")} prevented this App from being saved:"
      %ul
        - wine_app.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
