%h1 Listing wine_apps

%ul
- @wine_apps.each do |wine_app|
  %li
    = wine_app.name
    = link_to 'Show', wine_app; 
    = link_to 'Edit', edit_wine_app_path(wine_app)
    = link_to 'Destroy', wine_app, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Wine app', new_wine_app_path
