%h3= @wine_app.name
:javascript
  var ready;
  ready = function() {
    console.log('ready');
    getChartData("#{@wine_app.id}");
    $('form#voteForm').bind('ajax:success', function(evt, data, status, xhr){
      console.debug(data);
      $('#votealert').text(data.message);
      getChartData("#{@wine_app.id}");
      setInterval(function() { $('#votealert').text(''); }, 3000);
    });
    $('#voteForm').ajaxError(function(xhr, status, error) {
      $('#votealert').text('Failed.');
    });

  };
  $(document).ready(function() { console.debug('$ ready!'); })
  $(document).ready(ready);
  // $(window).load(ready);
  $(document).on('page:load', ready);
%ul
  = form_for @vote, url: wine_app_create_vote_path(@wine_app, format: :json), html: { id: "voteForm" }, remote: true, method: :post do |f| #update: { success: "response", failure: "error" }
    %li 
      %b Difficulty
      = f.range_field :difficulty_value, { min: 0, max: 100, step: 1 }

    %li 
      %b Quality
      = f.range_field :quality_value, { min: 0, max: 100, step: 1 }
    = submit_tag "Vote", class: "btn btn-primary"
    %p#votealert

  %br
  %li 
    #vote_chart
  %li
    %b Description
    [ 
    =link_to("History", wine_app_wiki_entries_path(@wine_app)) 
    ]

    #wiki
      :markdown
        #{ @wine_app.description }

    - if user_signed_in? 

      = form_for @wine_app, url: "/apps/#{@wine_app.id}/wiki/descriptions.json", html: {id: "descForm"}, remote: true, method: :post do |f|
        = f.hidden_field :description, id: "hidDescription", name: "wiki_entry"

        :javascript
          jQuery('#wiki').hallo({
            plugins: {
              'halloformat': {},
              'halloheadings': {},
              'halloblock': {},
              'hallojustify': {},
              'hallolists': {},
              'halloreundo': {}
            },
            toolbar: 'halloToolbarFixed'
          });
          jQuery('#wiki').bind('hallomodified', function(event, data) { 
            // console.debug(toMarkdown(data.content));
            jQuery('#hidDescription').val(toMarkdown(data.content)); 
          });
          jQuery('#descForm').bind('ajax:success', function(event, data, textStatus, xhr) { 
            console.debug(data);
          })

        = submit_tag "Update", class: "btn btn-primary"

  - if @wine_app.screenshots.count > 0
    %li 
      %b Screenshots
      %ul.thumbnails
        -@wine_app.screenshots.each do |ss|
          %li= link_to image_tag(ss.image.url(:thumb), class: "img-rounded"), wine_app_screenshot_path(@wine_app, ss)
- if user_signed_in?
  = link_to 'Edit', edit_wine_app_path(@wine_app)
  \|
  = link_to ' X ', @wine_app, :method => :delete, :data => { :confirm => 'Are you sure?' }
  \|
= link_to 'App List', wine_apps_path
