%h3= @wine_app.name
:javascript
  jQuery( document ).ready(function() {
    jQuery('form#voteForm').bind('ajax:success', function(evt, data, status, xhr){
      jQuery('#votealert').text('Done.');
      setInterval(3000, function() { jQuery('#votealert').text(''); });
      jQuery.get(
        "#{wine_app_votes_path(@wine_app)}",
        function(data, textStatus, jqXHR) { 
          console.log(data);
        },
        "json"
      );
    });
    jQuery('#voteForm').ajaxError(function(xhr, status, error) {
      jQuery('#votealert').text('Failed.');
    });
  });
%ul
  = form_for @vote, url: wine_app_create_vote_path(@wine_app), html: { id: "voteForm" }, update: { success: "response", failure: "error" },remote: true, method: :post do |f|
    %li 
      %b Difficulty
      = f.range_field :difficulty_value, { min: 0, max: 100, step: 1 }

    %li 
      %b Quality
      = f.range_field :quality_value, { min: 0, max: 100, step: 1 }
    = submit_tag "Vote"
    %p#votealert

  %br
  %li 
    #vote_chart
    = render_chart @vote_chart, "vote_chart" 
  %li
    %b Description
    [ 
    =link_to("History", wine_app_wiki_entries_path(@wine_app)) 
    ]
    #wiki
      :markdown
        #{ @wine_app.description }
    -if user_signed_in? 
      :javascript
        jQuery("#wiki").hallo();
      
  - if @wine_app.screenshots.count > 0
    %li 
      %b Screenshots
      %ul
        -@wine_app.screenshots.each do |ss|
          %li= link_to image_tag(ss.image.url(:thumb)), wine_app_screenshot_path(@wine_app, ss)
- if user_signed_in?
  = link_to 'Edit', edit_wine_app_path(@wine_app)
  \|
  = link_to ' X ', @wine_app, :method => :delete, :data => { :confirm => 'Are you sure?' }
  \|
= link_to 'App List', wine_apps_path
