%h3= @page_title

%ul
  -@wiki_entries.each do |entry|
    %li
      =entry.updated_at
      by
      - if entry.user
        = entry.user.email 
      - else
        %i &lt;User not found&gt; 
      %ul
        %li
          =entry.content
        

= link_to "Back", @wikiable
- if user_signed_in?
  \|
  = link_to ' X ', @wiki_entry, :method => :delete, :data => { :confirm => 'Are you sure?' }
  \|
= link_to 'App List', wine_apps_path
