%h3= @page_title

%ul
  -@wiki_entries.each do |entry|
    %li 
      =truncate entry.content, length: 30, separator: /\w/, omission: "..."
      =entry.updated_at
      - if entry.user
        = entry.user.email 
      - else
        %i &lt;User not found&gt;

= link_to "Back", @wikiable
- if user_signed_in?
  \|
  = link_to ' X ', @wiki_entry, :method => :delete, :data => { :confirm => 'Are you sure?' }
  \|
= link_to 'App List', wine_apps_path
