%p#notice= notice

%center
  = image_tag @screenshot.image
  %br
  Uploaded:
  = @screenshot.created_at
  by: 
  -if @screenshot.user 
    = @screenshot.user.email
  -else
    %i 
      &lt;Account Deleted&gt;


= link_to 'Back', @wine_app
