<!DOCTYPE html>
<html>
<head>
  <title>WineHQ <%= @page_title %></title>
  <script src="https://www.google.com/jsapi"></script>
  <script src="//ajax.googleapis.com/ajax/libs/prototype/1.7.1.0/prototype.js"></script> 
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta HTTP-EQUIV="Expires" CONTENT="Mon, 06 Jan 1990 00:00:01 GMT">
  <meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
  <meta name="description" content="Open Source Software for running Windows applications on other operating systems.">
  <%= favicon_link_tag "winehq_logo_16.png", rel: "icon", type: "image/png" %>
  <%= favicon_link_tag "winehq_logo_16.png", rel: "shortcut icon", type: "image/png" %>
</head>
<body>


<!-- %= render partial: 'layouts/side_nav' % -->

<div id="main_content" class="container">

  <div class="content" style="padding: 20px 20px 10px 80px">
  
  <!-- Start Content -->
  <%- if notice %>
	<p class="notice"><%= notice %></p>
  <%- end %>
  <%- if alert %>
	<p class="alert"><%= alert %></p>
  <%- end %>
    
  <%= yield %>

</div>


<pre>
  <%= debug controller.url_options %>
</pre>


</body>

</html>